#divContenidoInicial {
  width: 100%;
  position: relative;
  height: 600px;
  top: 35px;
  text-align: center;
  border: black solid 1px;
}

.imagenes {
  width: 100%;
  height: 100%;
}


#presentacion{
    
 width: 45%;
 padding: 20px;
 text-align: center;
 height: 400px;
 margin: 20px;
 position: absolute;
 top: 50px;
 left: 100px;
 background-color: rgba(52, 52, 52, 0.50);
}


#titulo {
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     font-size: 50px;
     font-weight: 900;
}

#subtitulo {
color: rgb(255, 255, 255);
font-size: 30px;
font-style: italic;
font-weight: 800;
font-family: Arial, Helvetica, sans-serif

} 

#descripcion { 
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
margin: 25px;
color: rgb(255, 255, 255);
}