.botones {
    height: 45px;
    width: 170px;
    background-color: rgb(0, 41, 56);
    margin: 15px 20px;
    font-size: 20px;
    border-radius: 8px;
}

.botones:hover {
    background-color: rgb(143, 143, 204);
}

.botones > a {
    text-decoration: none;
    color: white;
}

.botones > a:hover {
        color: black;
    font-size: 20px;
    font-weight: 700;
}