#cabecera {
    width: 100%;
     height: 50px;
     border: black solid 1px;
     background-color: rgb(110, 203, 234);
     position: fixed;
     top: 1px;
     z-index: 2;
     align-content: center;
     text-align: center;
}

#divLogo{
    height: 100%;
    width: 100px;
    margin: auto;
}

.imagenes { 
    width: 100%;
    height: 100%;
}