#contenido {
  width: 100%;
}

#seccionDeDescripcion {
  border: black 3px solid;
  position: relative;
  top: 40px;
  height: 250px;
}

#seccionDeSeparacion {
    height: 200px;
    width: 100%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 35px;
    align-content: center;
}

#innecesario { 
  height: 500px;
}